body{background-color:black;color:white;font-style:italic;font-family:times new roman;}a{color:Red;}h1{margin:2px;font-size:22px;color:#C0392B;padding-bottom:2px}h2{margin:2px;padding:2px;color:blue}h3{margin:2px;padding:2px;}h4{margin:2px;padding:2px;}p{margin : 0;padding : 5px;}.login{background:#ffffff;color:black;border-width:5px;border-style:double;border-color:deepskyblue;text-align:center;padding:4px 4px 4px 4px;margin-top:4px;margin-bottom:4px;font-size:11px;}.chart{background-color:white;color:red;font-weight:bold;font-style:italic;font-size:20px;text-decoration:none;border-width:2px;border-color:red;border-style:groove solid;margin-top:2px;margin-bottom:2px;padding:5px;border-radius:0px;text-shadow:1px 1px gold;text-align:center;font-family: 'Open Sans', sans-serif;}.chart a{color:blue;}.chartb{background-color:white;color:red;font-weight:bold;font-style:italic;font-size:20px;text-decoration:none;border-width:2px;border-color:red;border-style:groove solid;margin-top:2px;margin-bottom:2px;padding:5px;border-radius:0px;text-shadow:1px 1px gold;text-align:center;font-family: 'Open Sans', sans-serif;}.chartb a{color:black;}.chartbr{background-color:white;color:red;font-weight:bold;font-style:italic;font-size:20px;text-decoration:none;border-width:2px;border-color:red;border-style:groove solid;margin-top:2px;margin-bottom:2px;padding:5px;border-radius:0px;text-shadow:1px 1px gold;text-align:center;font-family: 'Open Sans', sans-serif;}.chartbr a{color:brown;}.CHARTHEAD{background-color:red;color:#ff0;border-width:3px;border-color:#ff0;border-style:solid;font-weight:700;font-size:x-large;text-align:center;margin:3px 20px;padding:3px;}.chat7{background-color:#000000;color:darkblue;border-width:3px;border-color:white;border-style:double;margin:1px;padding:3px;font-weight:bold;font-style:italic;font-size:x-large;}.game{border-left:lawngreen inset 3px;border-right:lawngreen inset 3px;border-top:lawngreen outset 3px;border-bottom:lawngreen inset 3px;background-color:mintcream;border-radius:0px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;font-weight:bold;font-family:times new roman,serif;font-style:italic;font-size:20px;text-align:center;margin-top:13px;margin-bottom:13px;text-shadow:1px 1px mintcream;}.head1{background-color:mintcream;color:#434142;border-width:3px;border-color:magenta;border-style:inset;margin-top:3px;margin-bottom:3px;padding:3px;font-size:14px;text-align:center;} .heady{ background-color: purple; color: yellow;font-weight: bold; font-style: italic;text-align:left; border-width: 3px; border-color: brown; border-style: inset; margin-top: 0; margin-bottom: 0; margin-left: 3px; margin-right: 2px; padding-top: 0; padding-bottom: 0; padding-left: 2px; padding-right: 2px; font-weight: bold; font-size: 20px; font-style: italic; text-shadow: 1px 1px GREEN;}.menu{border-left:#DC01DC solid 6px;border-right:#DC01DC solid 6px;border-top:#DC01DC solid 3px;border-bottom:#DC01DC solid 3px;background-color:white;color:blue;border-radius:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;font-weight:bold;font-style:italic;font-size:17px;text-shadow:1px 1px GOLD;margin-top:10px;margin-bottom:10px;}.menu1{border-left:lime solid 3px;font-weight:bold;border-right:lime solid 3px;border-top:lime solid 3px;border-bottom:lime solid 3px;background-color:mintcream;border-radius:8px;font-style:italic;font-size:small;text-align:center;text-shadow: 1px 1px pink;margin-top:9px; margin-bottom: 9px;}.menu2{border-left:lime solid 3px;font-weight:bold;border-right:lime solid 3px;border-top:lime solid 3px;border-bottom:lime solid 3px;background-color:mintcream;border-radius:8px;font-style:italic;font-size:small;text-align:center;text-shadow: 1px 1px pink;margin-top:9px; margin-bottom: 9px;border:solid 3px#956f13;text-shadow: 1px 1px 0 pink, 1px 5px 5px #aba8a8;font-style:italic;text-align: center;font-family: 'Open Sans', sans-serif;}.table{width:100%;}.table2{text-align:center;}.td{width:50%;color:white;background-color:darkblue;font-size:22px;}.td1{width:50%;color:white;background-color:#ff0000;font-size:22px;}.td2{width:50%;color:white;background-color:#008000;font-size:17px;}.td3{width:50%;color:white;background-color:#0000FF;font-size:17px;}.HEADLINES { background-color:  red;color: white;font-weight: bold; font-style: italic; font-size: small; text-decoration: NONE;text-shadow: 1px 1px blue;  }.liveupdate{background: rgb(242,130,91);background: -moz-linear-gradient(top, rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%);background: -webkit-linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);background: linear-gradient(to bottom, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);;color: yellow;padding:8px;font-weight: bold;font-size: 21px;font-family: Georgia;border-bottom: silver solid 2px;margin-bottom: 5px;border-top-left-radius : 4px;border-top-right-radius : 4px;text-align: center;}.HEADLINESC{background-color:red;color:white;font-weight:bold;font-style:italic;font-size:small;text-decoration:none;text-align:center;text-shadow: 1px 1px blue;}.HEADLINESL{background-color:red;color:white;font-weight:bold;font-style:italic;font-size:small;text-decoration:none;text-align:left;text-shadow: 1px 1px blue;}.res-head1 {
    color: #000;
    padding: 5px;
    margin: 3px;
    text-align:center;
    font-weight: 700;
    border-bottom: 2px solid #F39C12;
    border-radius: 8px;
    font-size: 20px;
background: rgb(247,101,101);
background: linear-gradient(180deg, rgba(247,101,101,1) 0%, rgba(246,238,78,1) 100%);}.news3{background-color:white;color:black;border:solid 3px#956f13;text-shadow: 1px 1px 0 #969696, 1px 5px 5px #aba8a8;font-style:italic;text-align: center;font-weight:bold;font-size:20px;border-width: 4px; border-color: blue; border-style: outset; margin: 3px; padding: 3px; border-radius: 3px;}.news1 {background-color:white;color:black;font-weight:bold;font-size:19px;border-width: 4px; border-color: blue; border-style: outset; margin: 3px; padding: 3px; border-radius: 3px;font-family:trebuchet MS,sans-serif;padding-bottom:5px;padding-top:7px;font-style:italic;border-bottom-style:solid;border-bottom-width:5px;text-shadow:1px 1px #ffd700;border-bottom-color:blue;letter-spacing:1pt;word-spacing:2pt; text-align: center;}
.news2{background-color:gold;font-size:23px;font-weight:bold;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:7px;border-bottom:1.5px solid #F39C12;}
.newslast{background-color:gold;font-size:24px;font-weight:bold;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:7px;}
.advrt {
  background-color: #900D1F;

border:2px solid #F70;text-align:center;padding:15px 0;border-radius:4px;margin-bottom:8px
}
.footer{background-color: #FFFF99; color: Black ; border-left: purple solid 2px; border-right: purple solid 2px; border-top: yellow solid 1px; border-bottom: yellow solid 1px; border-radius: 3px; padding-top: 4px; padding-bottom: 4px; padding-left: 2px; padding-right: 2px; font-weight: bold; font-style: italic; font-size: 18px; text-align: center; text-shadow: 1px 1px gold; margin-top: 4px; margin-bottom: 4px; font-family: georgia,serif;}
.ansh{background-color:#FDFEFE; color:black;font-style:italic;font-size:small;text-decoration:none;border-width:2px;border-color:#82E0AA;border-style:inset;margin-top:2px;margin-bottom:2px;margin-left:0px;margin-right:0px;padding-top:3px;padding-bottom:3px;padding-left:3px;padding-right:3px;border-radius:0px ;text-align:center;}.kuberm{background-color:purple;color:mintcream;font-size:22px}.vemo{color:blue;font-size:32px;}.vemo2{color:blue;font-size:20px;}
.my-checkbox{position:fixed;top:0;left:-9999px;visibility:hidden}input+label{cursor:pointer;text-transform:uppercase;color:#d70544;font-weight:800;font-size:22px;padding:8px 0;display:block}input+label+div{height:0;overflow:hidden;transition:all .3s;padding:0!important}input:checked+label+div{height:auto}.faq .faq-card{border-top:1px solid #dc1f44}.faq .faq-card.aabbcc{border-top:0 solid #dc1f44}.my-arrow{transform:rotate(90deg);display:inline-block;font-style:normal!important;float:right;margin-right:10px}@media only screen and (max-width:500px){input+label{font-size:15px}}@media only screen and (max-width:375px){input+label{font-size:13px}}@media only screen and (max-width:320px){input+label{font-size:11px}}
.geone1{background-color:mintcream;color:black;font-weight:bold;font-style:italic;font-size:large;text-decoration:none;border-width:3px;border-color:yellow;border-style:inset;margin-top:3px;margin-bottom:3px;margin-left:0px;margin-right:0px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;border-radius:0px;text-shadow:1px 2px gold;text-align:center;}    

    .result{background: rgb(8,97,154);
background: linear-gradient(0deg, rgba(8,97,154,1) 0%, rgba(5,6,55,1) 100%);border-bottom:3px solid #6BA8F2;text-align:center;padding:15px 0;border-radius:4px;margin-bottom:8px}
.btn-refresh{padding:.25rem .75rem;color:#fff;border-radius:1rem;margin-top:.25rem;cursor:pointer;display:inline-block;font-size:1.1rem}
.btn-refresh a{color:#fff;text-decoration:none; font-weight:bold;}
.bg-1{background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
border:1px solid #F7DC6F;box-shadow: 0 0 15px #000;}

.btn-w{padding:.25rem .75rem;color:#fff;border-radius:1rem;margin-top:.25rem;cursor:pointer;display:inline-block;font-size:1.1rem}
.btn-w a{color:#fff;text-decoration:none; font-weight:bold;}

.bg-w{background: rgb(34,151,4);
background: linear-gradient(180deg, rgba(34,151,4,1) 11%, rgba(88,135,4,1) 100%);
border:1px solid #97FB07;box-shadow: 0 0 15px #000;}


.publisher{background: #ED4264;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border:3px double #F613C9;text-align:center;padding:15px 0;border-radius:4px;margin-bottom:8px}

.bg-7{background: rgb(120,2,106);background: -webkit-linear-gradient(to right, #4fc258, #4b1a74);background: linear-gradient(to right, #000000, #4b1a74);border:1px solid #000;box-shadow: 0 0 15px gold;font-size:13px;}
      .atop{background: rgb(244,6,31);
background: linear-gradient(180deg, rgba(244,6,31,1) 0%, rgba(139,19,4,1) 100%);

text-align:center;padding:8px; border-top-left-radius:4px;border-top-right-radius:4px;font-weight:bold;font-size:17px;margin-top:5px}


.newrock{background-color:#fff5f8;color: #000000;font-size: 12px;border-radius: 5px;font-weight:bold;padding:10px;text-align:center;border-top: 2px solid #e70042;border-bottom: 2px solid #e70042;border-left: 2px solid #e70042; border-right: 2px solid #e70042;background-color: #fff5f8;border-radius: 3px;box-shadow: 0 0 10px #461300;margin: 7px 0 0 0;margin-top:10px;margin-bottom:10px;font-style:italic;font-family: 'Open Sans', sans-serif;font-size:18px;}.newrocky{background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;padding-bottom: 10px;text-align:center;border:#700020 solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;}.title_head{font-size:1.2em;color:#6F2232; font-weight:bold; text-align:center; padding-bottom:15px;}.article{ margin-bottom:20px;}.news-body {
    background-color: white;
    color: black;
    border: solid 3px #F39C12;
    text-shadow:  1px 1px 0 #969696,  1px 5px 5px #aba8a8;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    text-align:  center;
    font-weight: bold;
    font-size: 19px;
     margin:  3px;
     border-radius:  3px;
}.fix {border-bottom:1.5px solid silver;margin-top:2px;padding: 4px; margin-bottom:2px;}
.jodichartleft{float:left;width:20%;text-align:left;margin-top:-25px;}.panelchartright{float:right;width:20%;text-align:right;margin-top:-25px}.jodichartleft a,.panelchartright a{width:auto;background-color:red;padding:2px 2px;font-size:15px;border-radius:5px;text-align:center;}a{color:red;text-decoration:none;font-weight:700}a:hover{color:#ffc300}
.live-result {
    background-color: #FFC107;
    color: black;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    border: orange solid 3px;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgb(216, 185, 71);
    border-radius: 4px;
    text-align: center;
    font-style: italic; 
    padding: 1px;
  }
   .live-result1 {
    background-color:#FAE6E9;
    color: black;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    border: orange solid 3px;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgb(216, 185, 71);
    border-radius: 4px;
    text-align: center;
    font-style: italic; 
    padding: 1px;
  }
  .desl {
    background-color:white;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: double 3px blue;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    padding: 1px;
  }
.menu3 {
	border-left:lime solid 3px;
	font-weight:bold;
	border-right:lime solid 3px;
	border-top:lime solid 3px;
	border-bottom:lime solid 3px;
	background-color:mintcream;
	color: black;border-radius:8px;
	font-style:italic;
	font-size:18px;
	text-align:center;
	text-shadow: 1px 1px pink;
	margin-top:9px;
	margin-bottom: 9px;
	border:solid 3px#956f13;
	text-shadow: 1px 1px 0 pink, 1px 5px 5px #aba8a8;
	font-style:italic;text-align: center;}
.panel-heading2 {background-color : #FFCC66;
color : #000000;
margin-bottom : 5px;
padding : 10px 15px;
border-bottom : 4px solid #DDB25B;
border-top-right-radius : 3px;
border-top-left-radius : 3px;
font-weight : bold;
text-align:center;
font-size : large;}
.weekly{background-color:#00;border-width:0px;border-style:solid;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;padding-top:0px;padding-bottom:0;padding-left:0px;padding-right:0px;font-weight:bold;font-size:20px;font-family:Georgia,Times New Roman,Times,serif;text-shadow:0px 0px black;border-radius:0;}
.weekly2{background-color: mintcream; border-style:solid;border-width:4px;border-color:brown; color: indigo;text-align:center;}
.leena{
        background-color:#fff;
        border-radius:3px;
                box-sizing:border-box;
        border:2px solid #b32400;
        text-align:center;
        font-family:myfont1;
        font-weight:700;
        font-size:15px;
        padding:10px;
        color:#000;
        margin:8px 0 0 0;
    }